.button {
  appearance: none;
  background: $pureWhite;
  border: 1px solid $black;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;

  @media (min-width: nth($grid-breakpoints, 1)) {
    height: 30px;
    padding: 0 20px;
  }
}
