$dropdownWidth: 250px;

.dropdown {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: nth($grid-breakpoints, 2)) {
      flex-direction: row;
      align-items: unset;
    }
  }

  &__wrapper {
    width: $dropdownWidth;
    margin: 0 20px 20px 0;
    cursor: pointer;

    &--modal {
      margin: 0;
      width: 100%;
    }

    &--disabled {
      @extend .noSelect;
      cursor: initial;
      color: lighten($black, 30%);
    }
  }

  &__header {
    position: relative;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid $black;

    &--title {
      flex: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--toggle {
      flex-shrink: 0;
    }
  }

  &__list {
    position: absolute;
    z-index: 10;
    width: $dropdownWidth;
    background: $pureWhite;
    box-shadow: $boxShadow;
    border: 1px solid $black;
    border-top: none;

    &--option {
      height: 30px;
      line-height: 30px;
      padding: 0 20px;

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }

  &__checkbox-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 30px;
    line-height: 30px;

    input[type="checkbox"] {
      margin-right: 10px;
      flex-shrink: 0;
    }

    label {
      flex: 1;
      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
