.table {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;

  &__header {
    display: none;

    @media (min-width: nth($grid-breakpoints, 1)) {
      font-weight: 700;
    }
  }

  &__row {
    width: 100%;

    @media (min-width: nth($grid-breakpoints, 1)) {
      display: flex;
      flex-flow: row nowrap;
    }

    &--item {
      display: flex;
      flex-flow: row nowrap;
      flex-grow: 1;
      flex-basis: 0;
      padding: 0.5em;
      border: 1px solid $black;
      word-break: break-word;

      &:before {
        content: attr(data-header);
        width: 30%;
        font-weight: 700;
        flex-shrink: 0;
      }

      @media (min-width: nth($grid-breakpoints, 1)) {
        padding: 0.5em;
        flex-flow: column nowrap;

        &:before {
          content: none;
        }
      }
    }
  }
}
